<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="CommonServiceLocator" version="2.0.4" targetFramework="net45" requireReinstallation="true" />
  <package id="Hardcodet.NotifyIcon.Wpf" version="1.0.8" targetFramework="net45" requireReinstallation="true" />
  <package id="MvvmLightLibs" version="5.4.1.1" targetFramework="net45" />
  <package id="NLog" version="4.5.10" targetFramework="net45" />
  <package id="System.Drawing.Common" version="6.0.0" targetFramework="net48" />
  <package id="WPF-UI" version="2.0.2" targetFramework="net48" />
</packages>